<div class="row d-flex justify-content-center">
  <h2>Add details about your trip!</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="tripDetailsForm" class="col-9 d-flex justify-content-center">
    <div style="width: 80%">
      <div class="form-group">
        <label>
          Trip Title:
          <input class="form-control" formControlName="tripTitle" type="text">
        </label>
      </div>
      <div class="form-group">
        <label>
          Trip Start Date:
          <input class="form-control" formControlName="tripStartDate" type="date">
        </label>


        <div class="row d-flex justify-content-center">
          <button (click)="addNewDay()" class="btn btn-flat btn-primary" type="button">Add Day</button>
        </div>
      </div>


      <div formArrayName="listOfDays">
        <div *ngFor="let day of tripDetailsForm.get('listOfDays').controls; let i=index">
          <div [formGroupName]="i">
            <h3>Add new day</h3>
            <div class="form-group">
              <label>
                Title:
                <input class="form-control" formControlName="dayTitle" type="text">
              </label>
              <label>
                Day Number:
                <input class="form-control" formControlName="number" type="number">
              </label>
            </div>
            <div class="form-group">
              <label>
                Country:
                <input class="form-control" formControlName="country" type="text">
              </label>
              <label>
                City:
                <input class="form-control" formControlName="city" type="text">
              </label>
            </div>
            <div class="form-group">
              <label>
                Text:
                <textarea class="form-control" formControlName="text" rows="6" type="textarea"></textarea>
              </label>
            </div>


            <div class="row d-flex justify-content-center">
              <button (click)="addNewDay()" class="btn btn-flat btn-primary" type="button">Add Day</button>
              <button (click)="deleteDay(i)" class="btn btn-flat btn-danger" type="button">Delete Day</button>
            </div>
          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center">
        <button [disabled]="!tripDetailsForm.valid" class="btn btn-flat btn-success" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
