

   <div class="jumbotron">
      <h1 class="display-4">My Adventures</h1>
      <hr class="my-4"/>
      <p class="lead">
        A collection of memories from my travels throughout the years.
      </p>
  </div>

<div class="container mt-3">
  <div class="row" *ngFor="let trip of trips">
    <div class="col-12 my-1" >
        <div class="card ">
          <div class="card-body">
            <div class="row">
              <div class="col-1">
                <div class="row p-1 justify-content-center">
                  <span class="badge badge-pill badge-success">{{ getTripLength(trip) }} days</span>
                </div>
                <div class="row p-1 justify-content-center">
                  <span class="badge badge-pill badge-primary">{{ trip.tripStartDate | date: 'MMM yyyy' }}</span>
                </div>
              </div>
              <div class="col-11">
                <div class="row">
                  <div class="col-12"><h5 class="card-title"> {{ trip.tripTitle }}</h5></div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card-text">{{ trip.tripSummary | textTruncate : 250 : true}}</p>
                  </div>
                </div>
                <div class="row">
                  <button class="btn btn-flat btn-primary" type="button" role="button"
                      [routerLink]="['/trip-detail/', trip.id]" routerLinkActive="active">Open</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
